<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyARQgIx-0bugwEsbsK35P4J1DwB-Gqz_DM</string>
	<key>GCM_SENDER_ID</key>
	<string>735311123761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test-organization.SpeedCoachApp</string>
	<key>PROJECT_ID</key>
	<string>speedcoachapp-e64d5</string>
	<key>STORAGE_BUCKET</key>
	<string>speedcoachapp-e64d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735311123761:ios:b3532080e49f2206324c10</string>
</dict>
</plist>